*,
body,
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 19, 19);
}

.btn {
  font-family: inherit;
  font-size: 35px;
  border-radius: 25px;
  border: 3px solid #479cd6;
  color: rgb(233, 0, 175);
  background-color: rgb(255, 253, 244);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 20px 7px;
  cursor: pointer;
  transition: all 0.15s;
}

.container {
  display: flex;
  padding: 1rem;
  background-color: rgb(9, 212, 185);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding: 10px;
}

.logo {
  float: left;
  width: 10rem;
}

.navheader {
  font-size: 5rem;
}

.home {
  padding: 1rem;
}

.news {
  padding: 1rem;
}

.contact {
  padding: 1rem;
}

.about {
  padding: 1rem;
}
.img-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 50%;
}

#header {
  font-size: 5rem;
  margin: 0 auto;
  width: auto;
  text-align: left;
  color: rgb(228, 19, 88);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  border-style: dashed;
  font-size: 15rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

#description {
  font-size: 2.5rem;
  color: rgb(228, 50, 159);
}

.navbar {
  font-size: xxx-large;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.context {
  padding-left: 10rem;
  padding-right: 10rem;
}
