@import url(variables.css);

*,
body,
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.h1 {
  font-family: inherit;
  font-size: 3rem;
  border-radius: 1.5rem;
  border: 3px solid var(--cyan);
  color: var(--indigo);
  background-color: var(--white);
  padding: 2rem 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.15s;
  text-align: center;
}

#big-boy {
  color: var(--dark-brown);
  font-size: 3rem;
  padding-top: 1rem;
}

#little-boy {
  color: aliceblue;
  font-size: 3rem;
  padding-top: 1rem;
  display: flex;
  margin-left: auto;
  justify-content: center;
}

.title {
  font-size: 2rem;
}
.navbar {
  font-size: var(--h1);
  overflow: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: var(--beige);
  font-size: xxx-large;
  display: flex;
  justify-content: start;
}

a {
  text-decoration: none;
  color: rgb(52, 177, 135);
}

/* nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
} */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1rem 1rem 0 var(--black);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  border-style: solid;
  font-size: 15rem;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 var(--black);
}

/* The switch - the box around the slider */
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

/* Hide default HTML checkbox */
/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* .slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}  */

#link {
  margin-left: auto;
  padding: 1rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#link-1 {
  padding: 1rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#link-1:link {
  text-decoration: none;
}
#link-1:visited {
  text-decoration: none;
}

#link:hover {
  box-shadow: inset 7.1rem 0 0 0 var(--caramel);
  color: var(--white);
}

#link-1:hover {
  box-shadow: inset 7rem 0 0 0 var(--caramel);
  color: var(--white);
  text-decoration: none;
}

#link-1:active {
  text-decoration: none;
}

.img {
  max-width: 200rem;
  display: flex;
  justify-content: center;
}

.regions-header {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

#description {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  font-size: large;
}
