@import url(variables.css);

*,
body,
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
}
.top {
  margin: 0 auto;
  background: linear-gradient(95deg, var(--light-blue) -1%, var(--greek) 99%);
  padding: 1rem;
}

#title {
  font-size: var(--h3);
  padding: 0.5rem;
}

#navigation {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

#list {
  display: flex;
  margin-left: auto;
  justify-content: center;
  font-weight: 900;
  font-size: var(--h2);
}
#list li {
  display: inline;
  padding: 1rem;
  position: relative;
}
#list li:after {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  background: var(--light-gray);
  position: absolute;
  top: 2.4rem;
  right: -0.6rem;
  transform: translate();
}
#list li:last-child:after {
  display: none;
}

#list li a {
  color: var(--dark-gray);
  position: relative;
}

#list li a:after {
  content: "";
  width: 0;
  height: 0.125rem;
  background: var(--dark-gray);
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  transition: 0.4s ease-in-out;
}
#list li a:hover:after {
  width: 100%;
}

#home {
  margin: 2rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

#big-boy {
  color: var(--white);
  font-size: var(--h3);
  margin-left: 1rem;
}

#big-image {
  max-width: 70%;
  margin: 1rem;
  opacity: 0.7;
}

#feat-desc {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: var(--h3);
  background-color: var(--greek);
  display: inline;
  padding: 1rem;
  border-radius: 1.5rem;
}

#read {
  font-size: var(--h4);
}
hr {
  margin: 1.5rem;
}

.content {
  display: flex;
  justify-content: space-evenly;
}
.places {
  margin: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem 1.25rem;
}

#arch,
#food {
  text-align: center;
  font-size: var(--h3);
  font-weight: bolder;
}

#card-title {
  font-size: var(--h4);
  font-weight: 900;
}

#card-description {
  font-size: var(--h5);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#small {
  width: 44rem;
  height: 30rem;
}

.lower {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 3rem;
  height: 25rem;
  background: var(--gold);
  padding: 1.5rem;
}

#dish {
  font-size: var(--h4);
}

#details {
  padding: 0.5rem;
  font-size: var(--h5);
}

#foodcard {
  text-align: center;
}

#food-img {
  width: 20rem;
  height: 15rem;
}

.footer {
  width: 100%;
  height: 8rem;
  background: linear-gradient(95deg, var(--light-blue) -1%, var(--greek) 99%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h4);
  color: var(--white);
}

#favicon {
  max-width: 2rem;
  max-height: 2rem;
  vertical-align: middle;
}

#contact {
  font-size: 2rem;
  text-align: center;
}

#write {
  margin: 1rem;
  padding: 0.3rem;
  background-color: transparent;
  border-color: var(--white);
  cursor: pointer;
  color: var(--white);
}

@media all and (max-width: 1000px) {
  .top {
    width: 90%;
  }
  .featured {
    width: 90%;
  }
  .lower {
    width: 90%;
  }
  #content {
    width: 90%;
  }
  .food {
    width: 90%;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  animation: 1s ease-out 0s 1 slideInLeft;
  /* animation-delay: 0s; */
  /* padding: 40px; */
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  /* margin-right: 10px; */
}

.food-content {
  text-align: center;
  font-size: var(--h4);
  margin-left: 1rem;
  margin-right: 1rem;
}
