:root {
  --white: #ffff;
  --greek: #0d5eaf;
  --light-blue: #476dcc;
  --black: #000;
  --yellow: ##fbbd2c;
  --red: #e83845;
  --pink: #e389b9;
  --indigo: #746ab0;
  --cyan: #288ba8;
  --dark-gray: #262626;
  --light-gray: #cdcdcd;
  --milky-white: #f7e7ca;
  --beige: #d1b38d;
  --caramel: #ba661d;
  --coffee: #974617;
  --dark-brown: #6f2f14;

  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.675rem;
  --h4: 1.625rem;
  --h5: 1.225rem;
  --h6: 0.865rem;
}
h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}
