*,
body,
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 19, 19);
}

:root {
  --white: #ffff;
  --black: #000;
  --yellow: ##fbbd2c;
  --red: #e83845;
  --pink: #e389b9;
  --indigo: #746ab0;
  --cyan: #288ba8;
  --dark-gray: #262626;
  --light-gray: #727272;

  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

.btn {
  font-family: inherit;
  font-size: 35px;
  border-radius: 25px;
  border: 3px solid #479cd6;
  color: rgb(233, 0, 175);
  background-color: rgb(255, 253, 244);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 20px 7px;
  cursor: pointer;
  transition: all 0.15s;
}

#header {
  font-size: 5rem;
  margin: 0 auto;
  width: auto;
  text-align: left;
  color: rgb(228, 19, 88);
}
